In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df= pd.read_csv("master.csv") 
print(df.shape)

FileNotFoundError: [Errno 2] No such file or directory: 'master.csv'

In [2]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [3]:
df.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [4]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [5]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [7]:
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [8]:
df.describe(include="all")

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
count,27820,27820.000000,27820,27820,27820.000000,2.782000e+04,27820.000000,27820,8364.000000,27820,27820.000000,27820
unique,101,NaN,2,6,NaN,NaN,NaN,2321,NaN,2321,NaN,6
top,Austria,NaN,male,15-24 years,NaN,NaN,NaN,Uzbekistan2014,NaN,"63,067,077,179",NaN,Generation X
freq,382,NaN,13910,4642,NaN,NaN,NaN,12,NaN,12,NaN,6408
mean,NaN,2001.258375,NaN,NaN,242.574407,1.844794e+06,12.816097,NaN,0.776601,NaN,16866.464414,NaN
std,NaN,8.469055,NaN,NaN,902.047917,3.911779e+06,18.961511,NaN,0.093367,NaN,18887.576472,NaN
min,NaN,1985.000000,NaN,NaN,0.000000,2.780000e+02,0.000000,NaN,0.483000,NaN,251.000000,NaN
25%,NaN,1995.000000,NaN,NaN,3.000000,9.749850e+04,0.920000,NaN,0.713000,NaN,3447.000000,NaN
50%,NaN,2002.000000,NaN,NaN,25.000000,4.301500e+05,5.990000,NaN,0.779000,NaN,9372.000000,NaN
75%,NaN,2008.000000,NaN,NaN,131.000000,1.486143e+06,16.620000,NaN,0.855000,NaN,24874.000000,NaN
max,NaN,2016.000000,NaN,NaN,22338.000000,4.380521e+07,224.970000,NaN,0.944000,NaN,126352.000000,NaN

In [9]:
df.isna().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [10]:
df.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [11]:
for col in df.columns:
    #print("Valori unici per colonna: ", df[col].unique())
    print(col)
    print("Numero di valori unici per colonna: ", df[col].nunique())

country
Numero di valori unici per colonna:  101
year
Numero di valori unici per colonna:  32
sex
Numero di valori unici per colonna:  2
age
Numero di valori unici per colonna:  6
suicides_no
Numero di valori unici per colonna:  2084
population
Numero di valori unici per colonna:  25564
suicides/100k pop
Numero di valori unici per colonna:  5298
country-year
Numero di valori unici per colonna:  2321
HDI for year
Numero di valori unici per colonna:  305
 gdp_for_year ($)
Numero di valori unici per colonna:  2321
gdp_per_capita ($)
Numero di valori unici per colonna:  2233
generation
Numero di valori unici per colonna:  6

In [12]:
df.duplicated().sum()

np.int64(0)

In [13]:
#Gestiamo le features
df["age"].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [14]:
def convert_age_to_midpoint(age_str):
    # Rimuove la parola "years" e gli spazi
    age_str = age_str.replace("years", "").replace("year", "").strip()
    
    # Caso 1: intervallo "15-24"
    if "-" in age_str:
        low, high = age_str.split("-")
        return (int(low) + int(high)) / 2
    
    # Caso 2: valore "75+"
    if "+" in age_str:
        return int(age_str.replace("+", ""))  # es. "75+" â†’ 75
    
    # Caso raro: se rimane solo un numero
    return int(age_str)

In [15]:
df['age_mid'] = df['age'].apply(convert_age_to_midpoint)

In [16]:
df[['age', 'age_mid']].head(10)

           age  age_mid
0  15-24 years     19.5
1  35-54 years     44.5
2  15-24 years     19.5
3    75+ years     75.0
4  25-34 years     29.5
5    75+ years     75.0
6  35-54 years     44.5
7  25-34 years     29.5
8  55-74 years     64.5
9   5-14 years      9.5

In [17]:
df['sex_num'] = df['sex'].map({'male': 1, 'female': 0})
df[['sex', 'sex_num']].head(10)

      sex  sex_num
0    male        1
1    male        1
2  female        0
3    male        1
4    male        1
5  female        0
6  female        0
7  female        0
8    male        1
9  female        0

In [18]:
df["gdp_per_capita ($)"].head(100)

0      796
1      796
2      796
3      796
4      796
      ...
95    1127
96     793
97     793
98     793
99     793
Name: gdp_per_capita ($), Length: 100, dtype: int64

In [19]:
df['gdp_per_capita ($)'].dtype

dtype('int64')

In [20]:
df[" gdp_for_year ($) "].dtype
df[" gdp_for_year ($) "].unique()

array(['2,156,624,900', '2,126,000,000', '2,335,124,988', ...,
       '51,821,573,338', '57,690,453,461', '63,067,077,179'],
      shape=(2321,), dtype=object)

In [21]:
df['generation'].unique()

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [22]:
generation_map = {
    'G.I. Generation': 0,
    'Silent': 1,
    'Boomers': 2,
    'Generation X': 3,
    'Millennials': 4,
    'Generation Z': 5
}

In [23]:
df['generation_num'] = df['generation'].map(generation_map)
df[["generation","generation_num"]].head(10)

        generation  generation_num
0     Generation X             3.0
1           Silent             1.0
2     Generation X             3.0
3  G.I. Generation             0.0
4          Boomers             2.0
5  G.I. Generation             0.0
6           Silent             1.0
7          Boomers             2.0
8  G.I. Generation             0.0
9     Generation X             3.0

In [24]:
df = df.drop(columns=['country-year'])

In [25]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation', 'age_mid', 'sex_num',
       'generation_num'],
      dtype='object')

In [26]:
df[" gdp_for_year ($) "].dtype

dtype('O')

In [27]:
df[' gdp_for_year ($) '] = df[' gdp_for_year ($) '].str.replace(",", "")
df[' gdp_for_year ($) '] = pd.to_numeric(df[' gdp_for_year ($) '])

In [58]:
df[" gdp_for_year ($) "].dtype

dtype('int64')

In [ ]:
#df = pd.get_dummies(df, columns=['country'], prefix='country')

In [ ]:
#df.filter(like='country_').head()

,country_Albania,country_Antigua and Barbuda,country_Argentina,country_Armenia,country_Aruba,country_Australia,country_Austria,country_Azerbaijan,country_Bahamas,country_Bahrain,...,country_Thailand,country_Trinidad and Tobago,country_Turkey,country_Turkmenistan,country_Ukraine,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Uzbekistan
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [28]:
#Iniziamo con il feature engineering
df['population_total_estimated'] = df[' gdp_for_year ($) '] / df['gdp_per_capita ($)']
df['population_total_estimated'] = df['population_total_estimated'].round().astype(int)

df['age_sex_interaction'] = df['age_mid'] * df['sex_num']

df['years_since_start'] = df['year'] - df['year'].min()

df['decade'] = (df['year'] // 10) * 10
df['decade'] = df['decade'].astype('category')

df['age_group'] = pd.cut(
    df['age_mid'],
    bins=[0, 20, 40, 60, 120],
    labels=['0-20', '20-40', '40-60', '60+']
)

In [29]:
target = 'suicides/100k pop'

leakage_cols = [
    'suicides_no',        # direttamente collegata al target
    'population',         # usata per calcolare il target
    'suicides/100k pop'   # target stesso
]

X = df.drop(columns=leakage_cols)
y = df[target]

In [1]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


# ================================================
# 3. Interpolazione HDI SOLO sul TRAIN
# ================================================
# Copie separate per evitare di sporcare X_train originale
train = X_train.copy()
test = X_test.copy()

import numpy as np
import pandas as pd

# 1) Assicuriamoci che l'HDI sia numerico nel train
train['HDI for year'] = pd.to_numeric(train['HDI for year'], errors='coerce')

# 2) Costruiamo una tabella unica country-year con HDI medio (se ci sono piÃ¹ righe per stesso anno/paese)
hdi_train = (
    train.groupby(['country', 'year'], as_index=False)['HDI for year']
         .mean()
)

# 3) Ordiniamo per paese e anno (serve per l'interpolazione temporale)
hdi_train = hdi_train.sort_values(['country', 'year'])

def interpolate_hdi_group(g):
    s = g['HDI for year']

    # Interpolazione lineare nei buchi interni + estensione ai bordi
    s_interp = s.interpolate(method='linear', limit_direction='both')

    # Se TUTTI i valori di questo paese sono NaN, non c'Ã¨ niente da interpolare
    # Lasciamo NaN e li gestiremo dopo con una media globale
    if s_interp.isna().all():
        return s_interp

    # Per sicurezza, riempiamo ancora eventuali NaN ai bordi
    s_interp = s_interp.fillna(method='ffill').fillna(method='bfill')
    return s_interp

# 4) Applichiamo interpolazione per ogni paese
hdi_train['HDI_clean'] = (
    hdi_train.groupby('country', group_keys=False)
             .apply(interpolate_hdi_group)
)

# 5) Gestiamo il caso "paese senza nessun valore HDI nel train"
global_hdi_mean = train['HDI for year'].mean()
hdi_train['HDI_clean'] = hdi_train['HDI_clean'].fillna(global_hdi_mean)

train = train.merge(
    hdi_train[['country', 'year', 'HDI_clean']],
    on=['country', 'year'],
    how='left'
)
# Serie indicizzata da (country, year) â†’ HDI_clean interpolato dal train
hdi_lookup = hdi_train.set_index(['country', 'year'])['HDI_clean']

# Media per paese (sempre solo dal train)
country_hdi_means = hdi_train.groupby('country')['HDI_clean'].mean()
def get_hdi_for_test_row(row):
    country = row['country']
    year = row['year']
    key = (country, year)

    # Caso 1: stesso country-year visto nel train
    if key in hdi_lookup.index:
        return hdi_lookup.loc[key]

    # Caso 2: paese visto nel train ma anno nuovo â†’ usa la media del paese
    if country in country_hdi_means.index:
        return country_hdi_means.loc[country]

    # Caso 3: paese completamente nuovo â†’ usa media globale del train
    return global_hdi_mean

# Assicuriamoci che esista la colonna 'HDI_clean' nel test
test['HDI_clean'] = test.apply(get_hdi_for_test_row, axis=1)

NameError: name 'X' is not defined