In [228]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df= pd.read_csv("master.csv") 
print(df.shape)

(27820, 12)

In [229]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [230]:
df.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [231]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [232]:
df.dtypes

country                object
year                    int64
sex                    object
age                    object
suicides_no             int64
population              int64
suicides/100k pop     float64
country-year           object
HDI for year          float64
 gdp_for_year ($)      object
gdp_per_capita ($)      int64
generation             object
dtype: object

In [233]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7   country-year        27820 non-null  object
 8   HDI for year        8364 non-null   float64
 9    gdp_for_year ($)   27820 non-null  object
 10  gdp_per_capita ($)  27820 non-null  int64
 11  generation          27820 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [234]:
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [235]:
df.describe(include="all")

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
count,27820,27820.000000,27820,27820,27820.000000,2.782000e+04,27820.000000,27820,8364.000000,27820,27820.000000,27820
unique,101,NaN,2,6,NaN,NaN,NaN,2321,NaN,2321,NaN,6
top,Mauritius,NaN,male,15-24 years,NaN,NaN,NaN,Albania1987,NaN,"2,156,624,900",NaN,Generation X
freq,382,NaN,13910,4642,NaN,NaN,NaN,12,NaN,12,NaN,6408
mean,NaN,2001.258375,NaN,NaN,242.574407,1.844794e+06,12.816097,NaN,0.776601,NaN,16866.464414,NaN
std,NaN,8.469055,NaN,NaN,902.047917,3.911779e+06,18.961511,NaN,0.093367,NaN,18887.576472,NaN
min,NaN,1985.000000,NaN,NaN,0.000000,2.780000e+02,0.000000,NaN,0.483000,NaN,251.000000,NaN
25%,NaN,1995.000000,NaN,NaN,3.000000,9.749850e+04,0.920000,NaN,0.713000,NaN,3447.000000,NaN
50%,NaN,2002.000000,NaN,NaN,25.000000,4.301500e+05,5.990000,NaN,0.779000,NaN,9372.000000,NaN
75%,NaN,2008.000000,NaN,NaN,131.000000,1.486143e+06,16.620000,NaN,0.855000,NaN,24874.000000,NaN
max,NaN,2016.000000,NaN,NaN,22338.000000,4.380521e+07,224.970000,NaN,0.944000,NaN,126352.000000,NaN

In [236]:
df.isna().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [237]:
df.isnull().sum()

country                   0
year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [238]:
for col in df.columns:
    #print("Valori unici per colonna: ", df[col].unique())
    print(col)
    print("Numero di valori unici per colonna: ", df[col].nunique())

country
Numero di valori unici per colonna:  101
year
Numero di valori unici per colonna:  32
sex
Numero di valori unici per colonna:  2
age
Numero di valori unici per colonna:  6
suicides_no
Numero di valori unici per colonna:  2084
population
Numero di valori unici per colonna:  25564
suicides/100k pop
Numero di valori unici per colonna:  5298
country-year
Numero di valori unici per colonna:  2321
HDI for year
Numero di valori unici per colonna:  305
 gdp_for_year ($)
Numero di valori unici per colonna:  2321
gdp_per_capita ($)
Numero di valori unici per colonna:  2233
generation
Numero di valori unici per colonna:  6

In [239]:
df.duplicated().sum()

np.int64(0)

In [240]:
#Gestiamo le features
df["age"].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [241]:
def convert_age_to_midpoint(age_str):
    # Rimuove la parola "years" e gli spazi
    age_str = age_str.replace("years", "").replace("year", "").strip()
    
    # Caso 1: intervallo "15-24"
    if "-" in age_str:
        low, high = age_str.split("-")
        return (int(low) + int(high)) / 2
    
    # Caso 2: valore "75+"
    if "+" in age_str:
        return int(age_str.replace("+", ""))  # es. "75+" → 75
    
    # Caso raro: se rimane solo un numero
    return int(age_str)

In [242]:
df['age_mid'] = df['age'].apply(convert_age_to_midpoint)

In [243]:
df[['age', 'age_mid']].head(10)

           age  age_mid
0  15-24 years     19.5
1  35-54 years     44.5
2  15-24 years     19.5
3    75+ years     75.0
4  25-34 years     29.5
5    75+ years     75.0
6  35-54 years     44.5
7  25-34 years     29.5
8  55-74 years     64.5
9   5-14 years      9.5

In [244]:
df['sex_num'] = df['sex'].map({'male': 1, 'female': 0})
df[['sex', 'sex_num']].head(10)

      sex  sex_num
0    male        1
1    male        1
2  female        0
3    male        1
4    male        1
5  female        0
6  female        0
7  female        0
8    male        1
9  female        0

In [245]:
df["gdp_per_capita ($)"].head(100)

0      796
1      796
2      796
3      796
4      796
      ...
95    1127
96     793
97     793
98     793
99     793
Name: gdp_per_capita ($), Length: 100, dtype: int64

In [246]:
df['gdp_per_capita ($)'].dtype

dtype('int64')

In [247]:
df[" gdp_for_year ($) "].dtype
df[" gdp_for_year ($) "].unique()

array(['2,156,624,900', '2,126,000,000', '2,335,124,988', ...,
       '51,821,573,338', '57,690,453,461', '63,067,077,179'], dtype=object)

In [248]:
df['generation'].unique()

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [249]:
generation_map = {
    'G.I. Generation': 0,
    'Silent': 1,
    'Boomers': 2,
    'Generation X': 3,
    'Millennials': 4,
    'Generation Z': 5
}

In [250]:
df['generation_num'] = df['generation'].map(generation_map)
df[["generation","generation_num"]].head(10)

        generation  generation_num
0     Generation X             3.0
1           Silent             1.0
2     Generation X             3.0
3  G.I. Generation             0.0
4          Boomers             2.0
5  G.I. Generation             0.0
6           Silent             1.0
7          Boomers             2.0
8  G.I. Generation             0.0
9     Generation X             3.0

In [251]:
df = df.drop(columns=['country-year'])

In [252]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'HDI for year', ' gdp_for_year ($) ',
       'gdp_per_capita ($)', 'generation', 'age_mid', 'sex_num',
       'generation_num'],
      dtype='object')

In [253]:
df[" gdp_for_year ($) "].dtype

dtype('O')

In [254]:
df[' gdp_for_year ($) '] = df[' gdp_for_year ($) '].str.replace(",", "")
df[' gdp_for_year ($) '] = pd.to_numeric(df[' gdp_for_year ($) '])

In [255]:
df[" gdp_for_year ($) "].dtype

dtype('int64')

In [256]:
#df = pd.get_dummies(df, columns=['country'], prefix='country')

In [257]:
#df.filter(like='country_').head()

In [258]:
#Iniziamo con il feature engineering
df['population_total_estimated'] = df[' gdp_for_year ($) '] / df['gdp_per_capita ($)']
df['population_total_estimated'] = df['population_total_estimated'].round().astype(int)

df['age_sex_interaction'] = df['age_mid'] * df['sex_num']

df['years_since_start'] = df['year'] - df['year'].min()

df['decade'] = (df['year'] // 10) * 10
df['decade'] = df['decade'].astype('category')

df['age_group'] = pd.cut(
    df['age_mid'],
    bins=[0, 20, 40, 60, 120],
    labels=['0-20', '20-40', '40-60', '60+']
)

In [259]:
target = 'suicides/100k pop'

leakage_cols = [
    'suicides_no',        # direttamente collegata al target
    'population',         # usata per calcolare il target
    'suicides/100k pop'   # target stesso
]

X = df.drop(columns=leakage_cols)
y = df[target]

In [260]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)


# ================================================
# 3. Interpolazione HDI SOLO sul TRAIN
# ================================================
# Copie separate per evitare di sporcare X_train originale
train = X_train.copy()
test = X_test.copy()

import numpy as np
import pandas as pd

# 1) Assicuriamoci che l'HDI sia numerico nel train
train['HDI for year'] = pd.to_numeric(train['HDI for year'], errors='coerce')

# 2) Costruiamo una tabella unica country-year con HDI medio (se ci sono più righe per stesso anno/paese)
hdi_train = (
    train.groupby(['country', 'year'], as_index=False)['HDI for year']
         .mean()
)

# 3) Ordiniamo per paese e anno (serve per l'interpolazione temporale)
hdi_train = hdi_train.sort_values(['country', 'year'])

def interpolate_hdi_group(g):
    s = g['HDI for year']

    # Interpolazione lineare nei buchi interni + estensione ai bordi
    s_interp = s.interpolate(method='linear', limit_direction='both')

    # Se TUTTI i valori di questo paese sono NaN, non c'è niente da interpolare
    # Lasciamo NaN e li gestiremo dopo con una media globale
    if s_interp.isna().all():
        return s_interp

    # Per sicurezza, riempiamo ancora eventuali NaN ai bordi
    s_interp = s_interp.fillna(method='ffill').fillna(method='bfill')
    return s_interp

# 4) Applichiamo interpolazione per ogni paese
hdi_train['HDI_clean'] = (
    hdi_train.groupby('country', group_keys=False)
             .apply(interpolate_hdi_group)
)

# 5) Gestiamo il caso "paese senza nessun valore HDI nel train"
global_hdi_mean = train['HDI for year'].mean()
hdi_train['HDI_clean'] = hdi_train['HDI_clean'].fillna(global_hdi_mean)

train = train.merge(
    hdi_train[['country', 'year', 'HDI_clean']],
    on=['country', 'year'],
    how='left'
)
# Serie indicizzata da (country, year) → HDI_clean interpolato dal train
hdi_lookup = hdi_train.set_index(['country', 'year'])['HDI_clean']

# Media per paese (sempre solo dal train)
country_hdi_means = hdi_train.groupby('country')['HDI_clean'].mean()
def get_hdi_for_test_row(row):
    country = row['country']
    year = row['year']
    key = (country, year)

    # Caso 1: stesso country-year visto nel train
    if key in hdi_lookup.index:
        return hdi_lookup.loc[key]

    # Caso 2: paese visto nel train ma anno nuovo → usa la media del paese
    if country in country_hdi_means.index:
        return country_hdi_means.loc[country]

    # Caso 3: paese completamente nuovo → usa media globale del train
    return global_hdi_mean

# Assicuriamoci che esista la colonna 'HDI_clean' nel test
test['HDI_clean'] = test.apply(get_hdi_for_test_row, axis=1)

/var/folders/r8/rcrrys2d27z0jbgj24qp9rww0000gn/T/ipykernel_49213/3612214762.py:42: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  s_interp = s_interp.fillna(method='ffill').fillna(method='bfill')
/var/folders/r8/rcrrys2d27z0jbgj24qp9rww0000gn/T/ipykernel_49213/3612214762.py:48: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(interpolate_hdi_group)

# XGBoost + Optuna Implementation

In [261]:
import xgboost as xgb
import optuna
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import LabelEncoder

In [262]:
# Creiamo i dataset per XGBoost

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

X_train_final = X_train.copy()
X_test_final = X_test.copy()
y_train_final = y_train.copy()
y_test_final = y_test.copy()

print(f"X_train shape: {X_train_final.shape}")
print(f"X_test shape: {X_test_final.shape}")
print(f"y_train shape: {y_train_final.shape}")
print(f"y_test shape: {y_test_final.shape}")

X_train shape: (22256, 16)
X_test shape: (5564, 16)
y_train shape: (22256,)
y_test shape: (5564,)

In [263]:
# Creiamo una validation split per Optuna
from sklearn.model_selection import train_test_split

X_train_opt, X_val_opt, y_train_opt, y_val_opt = train_test_split(
    X_train_final, y_train_final, test_size=0.2, random_state=42
)

print(f"Train per Optuna: {X_train_opt.shape}")
print(f"Validation per Optuna: {X_val_opt.shape}")

Train per Optuna: (17804, 16)
Validation per Optuna: (4452, 16)

In [264]:
# Definiamo la funzione obiettivo per Optuna
def objective(trial):

    # Parametri da ottimizzare
    params = {
        'objective': 'reg:squarederror',
        'tree_method': 'hist',
        'random_state': 42,
        'verbosity': 0,
        'n_estimators': trial.suggest_int('n_estimators', 100, 1000, step=50),
        'max_depth': trial.suggest_int('max_depth', 3, 10),
        'learning_rate': trial.suggest_float('learning_rate', 0.01, 0.3, log=True),
        'subsample': trial.suggest_float('subsample', 0.6, 1.0),
        'colsample_bytree': trial.suggest_float('colsample_bytree', 0.6, 1.0),
        'min_child_weight': trial.suggest_int('min_child_weight', 1, 10),
        'gamma': trial.suggest_float('gamma', 0.0, 1.0),
        'reg_alpha': trial.suggest_float('reg_alpha', 0.0, 10.0, log=False),
        'reg_lambda': trial.suggest_float('reg_lambda', 0.0, 10.0, log=False),
    }
    
    # Creiamo e addestriamo il modello
    model = xgb.XGBRegressor(**params)
    model.fit(
        X_train_opt,
        y_train_opt,
        eval_set=[(X_val_opt, y_val_opt)],
        early_stopping_rounds=50,
        verbose=False
    )
    
    # Predizioni sulla validation set
    y_pred = model.predict(X_val_opt)
    
    # Metriche di valutazione (RMSE come metrica principale)
    rmse = np.sqrt(mean_squared_error(y_val_opt, y_pred))
    
    return rmse

In [265]:
# Eseguiamo l'ottimizzazione con Optuna
print("Inizio ottimizzazione con Optuna...")
print("Questo processo può richiedere diversi minuti...\n")

study = optuna.create_study(direction='minimize', study_name='xgb_optimization')
study.optimize(objective, n_trials=50, show_progress_bar=True)

print("\n" + "="*50)
print("Ottimizzazione completata!")
print("="*50)
print(f"\nMigliore RMSE: {study.best_value:.4f}")
print("\nMigliori parametri:")
for key, value in study.best_params.items():
    print(f"  {key}: {value}")

[I 2025-12-11 16:45:27,455] A new study created in memory with name: xgb_optimization

Inizio ottimizzazione con Optuna...
Questo processo può richiedere diversi minuti...

  0%|          | 0/50 [00:00<?, ?it/s]

[W 2025-12-11 16:45:27,467] Trial 0 failed with parameters: {'n_estimators': 100, 'max_depth': 5, 'learning_rate': 0.0162621981338627, 'subsample': 0.909434684730798, 'colsample_bytree': 0.9991918791256131, 'min_child_weight': 4, 'gamma': 0.8133369042286757, 'reg_alpha': 2.2222261385159845, 'reg_lambda': 9.880713832469546} because of the following error: TypeError("XGBModel.fit() got an unexpected keyword argument 'early_stopping_rounds'").
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.13/site-packages/optuna/study/_optimize.py", line 205, in _run_trial
    value_or_values = func(trial)
  File "/var/folders/r8/rcrrys2d27z0jbgj24qp9rww0000gn/T/ipykernel_49213/2205682758.py", line 23, in objective
    model.fit(
    ~~~~~~~~~^
        X_train_opt,
        ^^^^^^^^^^^^
    ...<3 lines>...
        verbose=False
        ^^^^^^^^^^^^^
    )
    ^
  File "/opt/anaconda3/lib/python3.13/site-packages/xgboost/core.py", line 774, in inner_f
    """Parameters
               ^^
TypeError: XGBModel.fit() got an unexpected keyword argument 'early_stopping_rounds'
[W 2025-12-11 16:45:27,467] Trial 0 failed with value None.

TypeError: XGBModel.fit() got an unexpected keyword argument 'early_stopping_rounds'

In [ ]:
# Visualizziamo i risultati dell'ottimizzazione
import matplotlib.pyplot as plt

# Grafico dell'ottimizzazione
fig = optuna.visualization.plot_optimization_history(study)
fig.show()

# Importanza dei parametri
fig2 = optuna.visualization.plot_param_importances(study)
fig2.show()

In [ ]:
# Addestriamo il modello finale con i migliori parametri trovati
best_params = study.best_params.copy()
best_params.update({
    'objective': 'reg:squarederror',
    'tree_method': 'hist',
    'random_state': 42,
    'verbosity': 1,
})

print("Addestramento modello finale con i migliori parametri...")
print(f"Parametri: {best_params}\n")

# Usiamo tutto il training set per il modello finale
final_model = xgb.XGBRegressor(**best_params)
final_model.fit(
    X_train_final,
    y_train_final,
    eval_set=[(X_test_final, y_test_final)],
    early_stopping_rounds=50,
    verbose=True
)

print("\nAddestramento completato!")

In [ ]:
# Predizioni e valutazione del modello finale
y_pred_train = final_model.predict(X_train_final)
y_pred_test = final_model.predict(X_test_final)

# Metriche di valutazione
print("="*60)
print("RISULTATI DEL MODELLO XGBOOST")
print("="*60)

print("\n--- TRAINING SET ---")
rmse_train = np.sqrt(mean_squared_error(y_train_final, y_pred_train))
mae_train = mean_absolute_error(y_train_final, y_pred_train)
r2_train = r2_score(y_train_final, y_pred_train)

print(f"RMSE: {rmse_train:.4f}")
print(f"MAE:  {mae_train:.4f}")
print(f"R²:   {r2_train:.4f}")

print("\n--- TEST SET ---")
rmse_test = np.sqrt(mean_squared_error(y_test_final, y_pred_test))
mae_test = mean_absolute_error(y_test_final, y_pred_test)
r2_test = r2_score(y_test_final, y_pred_test)

print(f"RMSE: {rmse_test:.4f}")
print(f"MAE:  {mae_test:.4f}")
print(f"R²:   {r2_test:.4f}")
print("="*60)

In [ ]:
# Visualizzazione delle feature importance
feature_importance = pd.DataFrame({
    'feature': X_train_final.columns,
    'importance': final_model.feature_importances_
}).sort_values('importance', ascending=False)

print("Top 15 feature più importanti:")
print(feature_importance.head(15).to_string(index=False))

# Grafico delle feature importance
plt.figure(figsize=(10, 8))
top_features = feature_importance.head(15)
plt.barh(range(len(top_features)), top_features['importance'])
plt.yticks(range(len(top_features)), top_features['feature'])
plt.xlabel('Importance')
plt.title('Top 15 Feature Importance - XGBoost')
plt.gca().invert_yaxis()
plt.tight_layout()
plt.show()

In [ ]:
# Grafico delle predizioni vs valori reali
fig, axes = plt.subplots(1, 2, figsize=(14, 6))

# Training set
axes[0].scatter(y_train_final, y_pred_train, alpha=0.5, s=10)
axes[0].plot([y_train_final.min(), y_train_final.max()], 
             [y_train_final.min(), y_train_final.max()], 
             'r--', lw=2, label='Linea perfetta')
axes[0].set_xlabel('Valori Reali')
axes[0].set_ylabel('Predizioni')
axes[0].set_title(f'Training Set\nR² = {r2_train:.4f}, RMSE = {rmse_train:.4f}')
axes[0].legend()
axes[0].grid(True, alpha=0.3)

# Test set
axes[1].scatter(y_test_final, y_pred_test, alpha=0.5, s=10, color='orange')
axes[1].plot([y_test_final.min(), y_test_final.max()], 
             [y_test_final.min(), y_test_final.max()], 
             'r--', lw=2, label='Linea perfetta')
axes[1].set_xlabel('Valori Reali')
axes[1].set_ylabel('Predizioni')
axes[1].set_title(f'Test Set\nR² = {r2_test:.4f}, RMSE = {rmse_test:.4f}')
axes[1].legend()
axes[1].grid(True, alpha=0.3)

plt.tight_layout()
plt.show()

In [ ]:
# Analisi dei residui
residuals_train = y_train_final - y_pred_train
residuals_test = y_test_final - y_pred_test

fig, axes = plt.subplots(1, 2, figsize=(14, 6))

# Training set
axes[0].scatter(y_pred_train, residuals_train, alpha=0.5, s=10)
axes[0].axhline(y=0, color='r', linestyle='--', lw=2)
axes[0].set_xlabel('Predizioni')
axes[0].set_ylabel('Residui')
axes[0].set_title('Residui - Training Set')
axes[0].grid(True, alpha=0.3)

# Test set
axes[1].scatter(y_pred_test, residuals_test, alpha=0.5, s=10, color='orange')
axes[1].axhline(y=0, color='r', linestyle='--', lw=2)
axes[1].set_xlabel('Predizioni')
axes[1].set_ylabel('Residui')
axes[1].set_title('Residui - Test Set')
axes[1].grid(True, alpha=0.3)

plt.tight_layout()
plt.show()

# Statistiche sui residui
print("Statistiche sui residui (Test Set):")
print(f"Media: {residuals_test.mean():.4f}")
print(f"Deviazione standard: {residuals_test.std():.4f}")
print(f"Minimo: {residuals_test.min():.4f}")
print(f"Massimo: {residuals_test.max():.4f}")